doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(rel='stylesheet' href='style.css')
  script(src='https://use.fontawesome.com/750a16f689.js')
  link(rel='icon' type='image/x-icon' href='public/images/favicon.ico')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Princess+Sofia&family=Redressed&display=swap' rel='stylesheet')
  title Bertram

body#dark-mode-canvas.canvas
  nav#dark-mode-nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='#') Bertram
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item.active
          a.nav-link(href='#') Home
        li.nav-item
          a.nav-link(href='#about') About
  .container-fluid
    .row
      .col-md-1
      .col-md-4
        img.profile-picture(src='/images/bertram.png')
      .col-md-1
      .col-md-4
        h1.title.dark-mode-word Hi! I&apos;m Bertram.
        h3.sub-title.dark-mode-word I&apos;m a designer, coder.
        h3.sub-title.dark-mode-word Feel free to call me Bert.
      .col-md-2
  #about.container-fluid.about
    .row
      .col-md-3
      .col-md-6
        h1.dark-mode-word About
        h3.dark-mode-word
          | I love doing hackathons with my friends, playing video games, and listening to music. This is my discord demo#0000, shoot me a message if you want to play games with me!
        img(src='/images/acheivements.png')
      .col-md-3
  .container-fluid.footer
    .row
      .col-md-3
      .col-md-6
        h1 Social Media
        a.fa.fa-instagram.fa-2x(href='https://www.instagram.com/willy_3124/' target='_blank')
      .col-md-3
// Custom JS
script(src='index.js')
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
script.
  function replace(x) {
    x.style.top = Math.floor(Math.random() * screen.width) + "px";
    x.style.left = Math.floor(Math.random() * screen.height) + "px";
  }

  const alan = document.createElement("div");
  alan.style.background = "#ffcf31";
  alan.style.position = "absolute";
  replace(alan);
  const hi = document.createElement("h1");
  hi.innerHTML = "hi I'm alan";
  const close = document.createElement("button");
  close.innerHTML = "close";
  close.onclick = function() {
    replace(alan);
  };
  const closePermanantly = document.createElement("button");
  closePermanantly.innerHTML = "close permanantly";
  closePermanantly.onclick = function() {
    replace(alan);
    const sadAlan = document.createElement("div");
    const sad = document.createElement("h1");
    sad.innerHTML = "alan is sad";
    sadAlan.style.background = "#ffcf31";
    sadAlan.style.position = "absolute";
    sadAlan.appendChild(sad);
    replace(sadAlan)
    document.body.appendChild(sadAlan);
  }
  alan.appendChild(hi);
  alan.appendChild(close);
  alan.appendChild(closePermanantly);
  document.body.appendChild(alan);